.main-content {
   text-align: center;
   padding: 20px;   
}

/* desktop only */
@media (min-width : 768px) {
   .main-content {
      padding: 50px;
   }
}

.main-content a {
   color: inherit;
   text-decoration: inherit;
}

.card {
   border: 0;  
   box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px; /* 5px rounded corners */
   margin-bottom: 30px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
   width: 100%;
   height: 100%;
   border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
   box-shadow: 0 5px 20px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.container {
   padding: 16px;
   text-align: center;
}

.img-container {
   width: 100%;
   height: 100%;
   position: relative;
}

.img-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px 5px 0 0;
   box-shadow: inset 0 0 300px 10px black;
   opacity: 0;
   transition: all 0.3s ease-in;
   color: white;
}
.img-overlay-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.img-overlay:hover {
   opacity: 1;
}