<!DOCTYPE html>
<html>
   
   {{ partial "head" . }}
      
   <body style="background-image: url('{{"img/backgroundMain.jpg" | absURL }}');">

      <div class="container-fluid">
      
         <div class="row">

            <div class="col-12 col-md-4 sidebar" style="background-image: url('{{"img/background.jpg" | absURL }}');">
               {{ partial "header" . }}
            </div>

            <div class="col-12 col-md-8 offset-md-4 main-content">
                  
            {{ block "main" . }}

            {{ end }}

            </div>
                  
            <div class="col-12 col-md-4 footer">
               {{ partial "footer" . }}
            </div>

         </div>

      </div>
   
   </body>

</html>