.footer {
   color: rgba(255, 255, 255, 0.5);
}

.socials {
   font-size: 2em;
}

.footer a {
   color: inherit;
   text-decoration: inherit;
   transition: all 0.2s ease-in-out;
}

.footer a:hover {
   color: rgba(255, 255, 255, 0.2);
   text-decoration: inherit;
}