<a href="{{ .Permalink }}" onClick="lightbox({{ .Params.Background }}, {{ .Title }}, {{ .Description }}, {{ .Permalink }}); return false;">
   <div class="card">
      <div class="img-container">
         <img src="{{ .Params.Background }}"/>
         <div class="img-overlay">
            <div class="img-overlay-content">
               <i class="fas fa-expand"></i> discover
            </div>
         </div>
      </div>
      <div class="container">
         <span>{{ .Title }}</span>
      </div>
   </div>
</a>