<div class="socials">
   <a href="#"><i class="fab fa-creative-commons"></i></a>
   <a href="https://www.linkedin.com/in/stefano-semeraro-47b3aa25/"><i class="fab fa-linkedin"></i></a>
   <a href="https://www.facebook.com/Suxsem"><i class="fab fa-facebook"></i></a>
   <a href="https://github.com/suxsem"><i class="fab fa-github-square"></i></a>   
   <a href="#"><i class="fas fa-ellipsis-h"></i></a>   
   <!--
   <a href="https://stackoverflow.com/users/2104749/suxsem"><i class="fab fa-stack-overflow"></i></a>
   <a href="https://twitter.com/suxsem"><i class="fab fa-twitter"></i></a>
   <a href="https://www.youtube.com/user/Supersem92"><i class="fab fa-youtube"></i></a>   
   -->
</div>
<div class="d-md-none">
   © Stefano Semeraro
</div>