<div class="sidebar-container">
         
   <div class="face">
      <a href="javascript:void(0);"><img src="img/face.jpg" /></a>
   </div>

   <div class="fullname">
      <a href="javascript:void(0);">
         <div class="fullname-base">Stefano Semeraro</div>
         <div class="fullname-alter">Engineering life</div>
      </a>
   </div>

   <div class="row menu">
      <div class="col-12"><a href="/">Home</a></div>
      <div class="col-12"><a href="#">Curriculum vitae</a></div>
      <div class="col-12"><a href="#">Contact me</a></div>
   </div>

</div>