{{ define "localHead" }}
   <link rel="stylesheet" href="/css/home.css" />
   <link rel="stylesheet" href="/css/card.css" />
{{ end }}

{{ define "main" }}   
   
   {{ .Content }}
   
   <div class="row">

      {{ range where .Sections "Section" "projects" }}
      {{ range .Sections }}

      <div class="col-12 col-md-4">
         {{ partial "card" . }}         
      </div>

      {{ end }}   
      {{ end }}

   </div>

   <div class="qr-banner-container d-none d-md-block">
      <div class="qr-banner">
         <img src='https://chart.googleapis.com/chart?cht=qr&chl=suxsem.github.io%2Fportfolio&chs=180x180&choe=UTF-8&chld=L|2' alt=''>
         <span>Try me on your phone <i class="fas fa-mobile-alt"></i></span>
      </div>
   </div>

   {{ partial "lightbox" . }}

   <script src="/serviceWorker.js"></script>
   
{{ end }}