{{ define "main" }}   
   
   {{ .Content }}
   
   <div class="row">

   {{ range where .Sections "Section" "projects" }}
   {{ range .Sections }}

   <div class="col-12 col-md-4">
      <a href="#" onClick="lightbox({{ .Params.Background }}, {{ .Title }}, {{ .Description }}, {{ .Permalink }}); return false;">
         <div class="card">
            <div class="img-container">
               <img src="{{ .Params.Background }}"/>
               <div class="img-overlay">
                  <div class="img-overlay-content">
                     <i class="fas fa-expand"></i> discover
                  </div>
               </div>
            </div>
            <div class="container">
               <span>{{ .Title }}</span>
            </div>
         </div>
      </a>
   </div>

   {{ end }}   
   {{ end }}

   </div>

   {{ partial "lightbox" . }}

   <script src="/js/serviceWorker.js"></script>
   
{{ end }}